body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 50px;
}
.name_heilight{
    color: orange;
}

.halfwidth{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;

}
.halfwidth img{
    width: 90%; 

}
.Bnner{
    
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}

.bigdream{

    background-image: url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}

section{
    height: 500px;
    padding-bottom: 150px;
}
.Linked_Button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;

}
.color{
    color: orange;
}

.single-experience{
    box-shadow: 10px 10px 50px gray;
    border-radius: 5px;
    background-color: white;
  
    


}
.experience-area{
    background-image: url("Image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}

#fullstack{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}

#fullstack1{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}

footer{

    text-align: center;
    font-size: 12px;
}

